.enter_password_card{
    position: fixed;
    background: #FFFFFF;
    border-radius: 12px;
    width: 552px;
    height: 228px;

    padding-top: 24px;
    padding-left: 32px;
    padding-bottom: 24px;
    padding-right: 36px;

    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

.title__card_1{
    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #333333;
}

.password__card{
    margin-top: 20px;
}

.text__password{
    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #4F4F4F;
}

.input__password{
    margin-top: 10px;
    width: 552.33px;
    height: 55px;
    padding-left: 18px;

    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
    border-radius: 12px;

    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.input__password::placeholder{
    color:#BDBDBD;
}


.delete__card{
    position: absolute;
    width: 105px;
    height: 55px;

    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    filter: drop-shadow(0px 4px 10px rgba(61, 180, 109, 0.2));


    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

    top: 187px;
    left: 480px;

    user-select: none;

}

.cancel__card_1{
    position: absolute;
    left: 403px;
    top: 204px;

    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #BDBDBD;

    user-select: none;
    cursor: pointer;
}
